@charset "UTF-8";
body {
    font-family: 'Open Sans', sans-serif;
}

section#top {
    font-weight: bolder;
}

.sidenav {
    background-color: #333;
}

.sidenav li>a {
    color: white;
}

.slider .indicators .indicator-item {
    background-color: #333;
}

.slider .indicators .indicator-item.active {
    background-color: #6441A4;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.row.grid .cell {
    flex: auto;
    flex: 0;
    flex: 1;
    margin-left: 0;
}

section#mid {
    background-color: white;
}

section#mid h4 {
    color: #6441A4;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 2px solid #3b2369;
    padding-left: 9px;
}

.card .card-title {
    font-family: 'Open Sans', sans-serif;
    color: #3b2369;
    font-weight: 400;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: #6441A4;
    font-weight: 600;
}

.secondary-content {
    color: #6441A4;
}

.collection .collection-item.avatar .title {
    color: #6441A4;
}

#nome-autor {
    font-weight: 600;
}

#img-autor {
    margin-top: 10px;
}

.page-footer {
    background-color: #333;
    color: white;
}

.page-footer label {
    color: white;
}

button, input, optgroup, select, textarea {
    color: white;
}

.page-footer .footer-copyright {
    background-color: rgba(51, 51, 51, 0.4);
}

.social-links ul {
    display: flex;
}

.social-items {
    list-style: none;
}

.social-items a {
    padding: 5px 5px;
    font-size: 30px;
    color: #6441A4;
}

a.btn {
    border-radius: 10px;
}

/* Media Queries  */

@media screen and (max-width: 1024px) {
    p, #nome-autor {
        font-size: 0.9em;
    }
    section#mid h4 {
        font-size: 1.4em;
        text-align: left;
    }
    h5, .card .card-title {
        font-size: 1.3em;
        text-align: left;
    }
    a {
        font-size: 0.9em;
    }
    .social-items a {
        font-size: 25px;
    }
    .page-footer {
        font-size: 0.9em;
    }
    .card {
        height: 380px;
    }
    #maislidas {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    p, #nome-autor {
        font-size: 0.9em;
    }
    section#mid h4 {
        font-size: 1.4em;
        text-align: left;
    }
    h5, .card .card-title {
        font-size: 1.3em;
        text-align: left;
    }
    a {
        font-size: 0.9em;
    }
    .social-items a {
        font-size: 25px;
    }
    .page-footer {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) {
    p, #nome-autor {
        font-size: 0.9em;
    }
    section#mid h4 {
        font-size: 1.4em;
        text-align: left;
    }
    h5, .card .card-title {
        font-size: 1.3em;
        text-align: left;
    }
    a {
        font-size: 0.9em;
    }
    .social-items a {
        font-size: 25px;
    }
    .page-footer {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 320px) {
    p, #nome-autor {
        font-size: 0.9em;
    }
    section#mid h4 {
        font-size: 1.4em;
        text-align: left;
    }
    h5, .card .card-title {
        font-size: 1.3em;
        text-align: left;
    }
    a {
        font-size: 0.9em;
    }
    .social-items a {
        font-size: 25px;
    }
    .page-footer {
        font-size: 0.9em;
    }
}